.our-managers {
    padding-bottom: 2.5rem;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @extend .padding-t-9;

    &__title {
        @extend .padding-left-xl;
        @extend .padding-right-lg;
        @extend .margin-b-7;

        h1 {
            margin-bottom: 0;
        }
    }
}

.logo-listing {
    display: flex;

    &__category {
        padding-left: 3rem;
        padding-right: 2rem;
        width: 250px;
        display: flex;
        align-items: center;
        h3 {
            line-height: 1.29;
            margin-bottom: 0;
        }
    }

    &__items {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
       
        .brand-logo {
            background-color: rgba(255, 255, 255, 0.9);
            padding-top: 3rem;
            padding-bottom: 3rem;
            .brand-logo__image {
                display: flex;
                align-items: center;
            }
            &:first-of-type {
                padding-left: 3rem;
            }
        }
    }
}