$white: #fff;
$back: #000;

$grey-1: #f6f6f6;

//project colors
$primary-color: #226257;
$secondary-color: #ef9600;
$accent-color: #6ccdb3;

$background-color: $grey-1;
$overlay-color: rgba(34, 98, 87, 0.5);
$border-color: rgba(152, 164, 175, 0.4);