.brand-logo {
  display: flex;
  color: $primary-color;
  padding: 2rem;

  &.show-info {
    .brand-logo__info {
      width: 65%;
      padding-right: 3rem;
    }
  
    .brand-logo__image {
      width: 35%;
  
      img {
       
       @include xl {
        max-height: 120px;
        max-width: 100%;
       }

        @include xl4 {
          min-height: 85px;
        }
      }
    }
  }


  &__image {
    width: 100%;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      filter: grayscale(1);
      transition: 0.3s;

      @include xl {
        max-height: 55px;
        max-width: 140px;
      }
    }
  }

  &:hover {
    img {
      filter: grayscale(0);
    }
  }
}
