.feature-video-panel {
    .layout-two-columns{
        
        @include up-to-large {
            flex-direction: column-reverse;
        }

        .layout-two-columns__content {
           .squares {
            top: 0;
            right: -10px;
            width: 35%;
            max-width: 200px;
            
            @include large{
                width: 70%;
                max-width: none;
            }
           
            @include xl {
                width: 82%;
               
            }
           }
        }

        .layout-two-columns__media {
            padding-left: 1rem;
            padding-right: 1rem;

            @include medium {
                padding-left: 2rem;
                padding-right: 2rem;
            }

            @include large {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    &__title {
        position: relative;
        @include up-to-large {
            max-width: 85%;
        }
        h2 {
            margin-bottom: 0;
        }
    }
}