.feature-video-panel {
    .layout-two-columns{
        @include up-to-large {
            flex-direction: column-reverse;
        }
    }
    &__title {
        @include up-to-large {
            max-width: 80%;
        }
        h2 {
            margin-bottom: 0;
        }
    }
}