.latest-insights {

  .layout-two-columns {
    @include up-to-xl {
      flex-direction: column;
      .layout-two-columns__content, .layout-two-columns__media {
        width: 100% !important;
      }
    }
  }
  .layout-two-columns__content {
    align-items: flex-start;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .layout-two-columns__media {
    padding-top: 0rem;
    padding-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @include medium {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include xl {
      padding-top: 2.5rem;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__heading h2 {
    margin-bottom: 0 !important;
  }

}
