.latest-insights {
  .layout-two-columns__content {
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .layout-two-columns__media {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  &__listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    @include xl4 {
      grid-column-gap: 2.5rem;
      grid-row-gap: 2.5rem;
    }
  }
}
