.spotlight {
    &__logos-listing {
        background-color: white;

        .brand-logo {
            background-color: $white;
            transition: 0.3s;
            &:hover {
                background-color: $grey-1;
            }

            .brand-logo__image {
                @include xl2 {
                    padding-right: 2rem;
                }

                @include xl4 {
                    padding-right: 5rem;
                }
            }
        }
    }
    
}