.why-fidante {
  .layout-two-columns__content {
    width: 100%;
    @include large {
      width: 55%;
    }
  }
  .layout-two-columns__media {
    width: 100%;
    @include large {
      width: 45%;
    }
  }
  &__stats {
    display: flex;

    .column-left {
      width: 58%;
      z-index: 1;

      @include large {
        margin-top: -1rem;
       margin-bottom: -1rem;
      }

      .statistic {
        height: 50%;
      }
    }

    .column-right {
      width: 42%;

      .statistic {
        min-height: 200px;

        &:not(:last-of-type) {
          border-bottom: 1px solid rgba(152, 164, 175, 0.4);
        }
      }
    }
  }
}
