.layout-two-columns {
    display: flex;
    height: auto;
    align-items: stretch;
    flex-direction: column;
    background-color: $primary-color;
    color: $white;

    @include large {
        flex-direction: row
    }

    &.media-side-right {
        .layout-two-columns__content {
            @extend .padding-left-xl;
            @extend .padding-right-lg;
        }
    }

    &.background-light {
        background-color: $grey-1;
        color: $primary-color;
    }

    &.layout-2-3 {
      @include large {
        > div:first-of-type {
            width: 38%;
        }

       > div:last-of-type{
            width: 62%;
        }
      }
    }
    
    &.layout-3-2 {
       @include large {
        > div:first-of-type {
            width: 62%;
        }

        > div:last-of-type {
            width: 38%;
        }
       }
    }
    
    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        padding-top: 6rem;
        padding-bottom: 5rem;
        position: relative;
        overflow: hidden;

        @extend .padding-left-lg;
        @extend .padding-right-xl;

        @include large {
            padding-bottom: 6rem;
        }

        @include xl {
            width: 50%;
        }

        p:last-of-type {
            margin-bottom: 0;
        }

        .squares {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            z-index: 0;
            pointer-events: none;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__media {
        width: 100%;
        @include xl {
            width: 50%;
        }
    }
}