.layout-two-columns {
    display: flex;
    height: auto;
    align-items: stretch;
    flex-direction: row;
    background-color: $primary-color;
    color: $white;

    &.media-side-right {
        .layout-two-columns__content {
            @extend .padding-left-xl;
            @extend .padding-right-lg;
        }
    }

    &.background-light {
        background-color: $grey-1;
        color: $primary-color;
    }

    &.layout-2-3 {
       > div:first-of-type {
            width: 38%;
        }

       > div:last-of-type{
            width: 62%;
        }
    }
    
    &.layout-3-2 {
        > div:first-of-type {
            width: 62%;
        }

        > div:last-of-type {
            width: 38%;
        }
    }
    
    &__content {
        width: 50%;
        display: flex;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;

        @extend .padding-left-lg;
        @extend .padding-right-xl;
    }

    &__media {
        width: 50%;
    }
}