.layout-two-columns {
    display: flex;
    height: auto;
    align-items: stretch;
    flex-direction: column;
    background-color: $primary-color;
    color: $white;

    @include large {
        flex-direction: row
    }

    &.media-side-right {
        .layout-two-columns__content {
            @extend .padding-left-xl;
            @extend .padding-right-lg;
        }
    }

    &.background-light {
        background-color: $grey-1;
        color: $primary-color;
    }

    &.layout-2-3 {
      @include large {
        > div:first-of-type {
            width: 38%;
        }

       > div:last-of-type{
            width: 62%;
        }
      }
    }
    
    &.layout-3-2 {
       @include large {
        > div:first-of-type {
            width: 62%;
        }

        > div:last-of-type {
            width: 38%;
        }
       }
    }
    
    &__content {
         width: 100%;
        display: flex;
        align-items: center;
        padding-top: 6rem;
        padding-bottom: 6rem;

        @extend .padding-left-lg;
        @extend .padding-right-xl;

        @include xl {
            width: 50%;
        }
    }

    &__media {
        width: 100%;
        @include xl {
            width: 50%;
        }
    }
}