.loading-spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 9999;
    transition: 0.5s;
    transform-origin: 50% 0%;

    &--hidden {
      opacity: 0;
      visibility: hidden;
    }

    &__inner {
      width: 200px;
      height: 200px;
      margin: auto;
      display: flex;
      align-items: center;
      color: $primary-color;
      transform: scale(0.5);

      @include xl {
        transform: scale(1);
      }

      
      &::before,  &::after {
        content: "";
        z-index: -1;
        margin: -5%;
        box-shadow: inset 0 0 0 3px $accent-color;
        animation: clip 4s linear infinite;
        transform: rotate(45deg);
      }
      &::before {
        animation-delay: -2s;
        box-shadow: inset 0 0 0 3px $primary-color;
      }
    }

    &__inner, &__inner::before, &__inner::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    img {
        width: 70%;
        margin: 0 auto;
    }
}

  
  @keyframes clip {
    0%, 100% {
      clip: rect(0px, 220px, 4px, 0px);
    }
    25% {
      clip: rect(0px, 4px, 220px, 0px);
    }
    50% {
      clip: rect(218px, 220px, 220px, 0px);
    }
    75% {
      clip: rect(0px, 220px, 220px, 218px);
    }
  }