.hero-banner {
  .layout-two-columns {
    @include xl {
      height: 700px;
    }

    @include xl3 {
      height: 820px;
    }
  }

  .layout-two-columns__content {
    @include up-to-large {
      padding-bottom: 2.5rem;
    }
  }

  .layout-two-columns__media {
    position: relative;
    overflow: hidden;
  }

  .rectangle {
    position: absolute;
    bottom: -1rem;
    right: -1px;
    width: 80%;

    @include medium {
      width: 70%;
      max-height: 90%;
    }

    @include large {
      width: 92.5%;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__media {
    width: 85%;
    margin-left: auto;
    aspect-ratio: 263/302;
    overflow: hidden;

    @include medium {
      aspect-ratio: 1/1;
    }

    @include large {
      width: 100%;
      height: 100%;
    }

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__heading {
    h2,h3,h4,h5,h6 {
      @extend .h1
    }

    .highlight {
      color: $accent-color;
    }
  }

  &__intro {
    @include xl {
      max-width: 536px;
    }
  }
}
