.statistic {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__icon {
        max-width: 72px;
        max-height: 60px;
    }

    &__figure {
        @include fluid-font(4.85rem, 0.5);

        font-family: $font-heading;
        line-height: 1;
        margin-bottom: 0.5rem;
        margin-top: 1.5rem;
        padding-right: 2.5rem
    }

    &__description {
        // @include fluid-font(1.5rem, 0.8);

        font-family: $font-body;
        font-weight: $fw-600;
        line-height: 1.13;
    }

}